<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <h2 th:text="${boardInform.name}">제목</h2>
        <h5 class="text-muted" th:text="${boardInform.subtitle}">설명</h5>
        <div>
            <a href="#" th:href="@{{boardId}/write (boardId=${boardInform.id})}"
               class="btn btn-primary me-1 mb-1" style="float:right" role="button">작성하기</a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>작성자</th>
                <th>댓글</th>
                <th>공감</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td><a href="#" th:href="@{{boardId}/{postId}(boardId=${boardInform.id}, postId=${post.id})}"
                       th:text="${post.id}"></a></td>
                <td th:text="${post.title}"></td>
                <td th:text="${post.username}"></td>
                <td th:text="${post.commentCount}"></td>
                <td th:text="${post.like}"></td>
            </tr>
            </tbody>
        </table>
        <div class="btn-group mb-3" role="group" th:with="start=${page / size * size},
            end=${(start + size < total) ? start + size - 1 : total - 1}">
            <a href="#" th:href="@{{boardId}(boardId=${boardInform.id}, page = 0)}"
               th:if="${start} > 0" th:text="'<<'"
               class="btn btn-outline-secondary" role="button">첫 페이지</a>
            <a href="#" th:href="@{{boardId}(boardId=${boardInform.id}, page = ${start} - 1)}"
               th:if="${start} > 0" th:text="'<'"
               class="btn btn-outline-secondary" role="button">이전 페이지</a>
            <a href="#" th:href="@{{boardId}(boardId=${boardInform.id}, page=${num})}"
               th:each="num : ${#numbers.sequence(start, end)}" th:text="${num} + 1"
               class="btn btn-outline-secondary" role="button">번호</a>
            <a href="#" th:href="@{{boardId}(boardId=${boardInform.id}, page = ${end} + 1)}"
               th:if="${end} < ${total} - 1" th:text="'>'"
               class="btn btn-outline-secondary" role="button">다음 페이지</a>
            <a href="#" th:href="@{{boardId}(boardId=${boardInform.id}, page = ${total} - 1)}"
               th:if="${end} < ${total} - 1" th:text="'>>'"
               class="btn btn-outline-secondary" role="button">마지막 페이지</a>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>