<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>설명</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="boardInform : ${boardInforms}">
                <td><a href="#" th:href="@{boards/{boardId} (boardId=${boardInform.id})}" th:text="${boardInform.id}"></a></td>
                <td th:text="${boardInform.name}"></td>
                <td th:text="${boardInform.subtitle}"></td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-end mb-3">
            <form th:action method="get">
                <div class="input-group">
                    <span class="input-group-text">제목</span>
                    <input class="form-control w-50" type="text" name="boardName" th:value="${param.boardName}">
                    <button class="btn btn-outline-secondary" type="submit">검색</button>
                </div>
            </form>
        </div>

    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>