<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" th:action th:object="${form}" method="post">
        <div class="form-group">
            <p th:if="${#strings.equals(param.error, 'duplicate')}" class="text-danger">이미 존재하는 이름입니다</p>
            <label th:for="name">게시판 이름</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름"
                   th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
            <label th:for="subtitle">설명</label>
            <input type="text" th:field="*{subtitle}" class="form-control" placeholder="설명"
                   th:class="${#fields.hasErrors('subtitle')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('subtitle')}" th:errors="*{subtitle}">Incorrect date</p>
            <div class="clearfix">
                <button type="submit" class="btn btn-primary my-1 float-end">제출</button>
            </div>
        </div>
    </form>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>