<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div th:object="${postInform}">
        <div class="container border rounded p-4 mb-3">
            <div class="row">
                <img class="col-2" src="https://mvp.microsoft.com/ko-kr/PublicProfile/Photo/8904">
                <div class="col-7">
                    <div class="row">
                        <h4 class="fw-bold" th:text="*{username}">닉네임</h4>
                        <h6 class="text-secondary" th:text="*{createdDateTime}">작성 시간</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <h1 class="fw-bold" th:text="*{title}">제목</h1>
                <h4 th:text="*{content}">내용</h4>
            </div>
<!--            <div class="row"></div>-->
<!--            <div class="row">공감 버튼</div>-->
        </div>
        <div class="clearfix mb-1">
            <a href="#" th:href="@{{postId}/like (postId=*{id})}"
               class="btn btn-outline-danger" th:text="*{like}" role="button">좋아요</a>
            <a href="#" class="btn btn-outline-info mx-1" th:text="*{commentCount}">댓글 수</a>
            <a href="#" th:href="@{{postId}/edit (postId=*{id})}"
               class="btn btn-primary float-end" role="button">수정</a>
        </div>
        <hr>
        <form role="form" id="commentForm" th:action="@{{postId}/comment (postId=*{id})}"  method="post">
            <div class="input-group mb-3" th:object="${commentForm}">
                <input type="text" th:field="*{content}" class="form-control" placeholder="댓글">
                <button type="submit" class="btn btn-outline-secondary">제출</button>
            </div>
        </form>
        <form class="d-none" id="recommentForm" role="form" method="post" action="#">
            <div class="input-group mb-3" th:object="${commentForm}">
                <input id="recommentFormInput" type="text" th:field="*{content}" class="form-control" placeholder="대댓글"
                       onblur="changeCommentForm()">
                <button type="button" class="btn btn-outline-secondary" onmousedown="submitForm()">제출</button>
            </div>
        </form>
        <ul class="list-group">
            <div class="list-group-item" th:each="comment : ${postInform.comments}">
                <div>
                    <div class="d-flex justify-content-between">
                        <div class="fw-bold" th:text="${comment.username}">닉네임</div>
                        <button class="badge bg-info rounded-pill ms-auto text-decoration-none"
                            th:id="${comment.id}" onclick="changeRecommentForm(this)">대댓글</button>
                    </div>
                    <div th:text="${comment.content}">댓글</div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item justify-content-between" th:each="recomment : ${comment.recomments}">
                        <div class="d-flex">
                            <div class="fw-bold" th:text="${recomment.username}">닉네임</div>
                        </div>
                        <div th:text="${recomment.content}">댓글</div>
                    </li>
                </ul>
            </div>
        </ul>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
<script th:inline="javascript">
    function changeRecommentForm(elem) {
        let comment = document.getElementById("commentForm");
        let recomment = document.getElementById("recommentForm");
        let input = document.getElementById("recommentFormInput");
        let postId = [[${postInform.id}]];
        let commentId = elem.id;

        recomment.action = postId + "/" + commentId + "/recomment"; // action="{postId}/{commentId}/recomment"

        comment.classList.add("d-none");
        recomment.classList.remove("d-none");

        input.focus();
    }

    function changeCommentForm() {
        let comment = document.getElementById("commentForm");
        let recomment = document.getElementById("recommentForm");

        comment.classList.remove("d-none");
        recomment.classList.add("d-none");
    }

    function submitForm() {
        let recomment = document.getElementById("recommentForm");
        recomment.submit();
    }



</script>
</body>
</html>