<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div th:object="${postInform}">
        <div class="container border rounded p-4 mb-3">
            <div class="row">
                <img class="col-2" src="/image/anonymous.png">
                <div class="col-7">
                    <div class="row">
                        <h4 class="fw-bold" th:text="*{username}">닉네임</h4>
                        <h6 class="text-secondary" th:text="*{createdDateTime}">작성 시간</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <h1 class="fw-bold" th:text="*{title}">제목</h1>
                <h4 th:text="*{content}">내용</h4>
            </div>
        </div>
        <div class="clearfix mb-1">
            <a href="#" th:href="@{{postId}/like (postId=*{id})}"
               class="btn btn-outline-danger" th:text="*{getLikeCount}" role="button">좋아요</a>
            <a href="#" class="btn btn-outline-info mx-1" th:text="*{commentCount}">댓글 수</a>
            <a href="#" th:href="@{{postId}/edit (postId=*{id})}"
               sec:authorize="isAuthenticated()" th:if="${userInform.username} == ${postInform.username}"
               class="btn btn-primary float-end" role="button">수정</a>
        </div>
        <hr>
        <form role="form" id="commentCreateForm" th:action="@{{postId}/comment (postId=*{id})}"
              sec:authorize="isAuthenticated()" method="post">
            <div class="input-group mb-3" th:object="${commentCreateForm}">
                <input type="text" th:field="*{content}" class="form-control" placeholder="댓글">
                <button type="submit" class="btn btn-outline-secondary">제출</button>
            </div>
        </form>
        <form class="d-none" id="recommentCreateForm" role="form" method="post" th:action>
            <div class="input-group mb-3" th:object="${commentCreateForm}">
                <input id="recommentFormInput" type="text" th:field="*{content}" class="form-control" placeholder="대댓글"
                       onblur="changeCommentForm()">
                <button type="button" class="btn btn-outline-secondary" onmousedown="submitForm()">제출</button>
            </div>
        </form>
        <ul class="list-group mb-3">
            <div class="list-group-item" th:each="comment : ${postInform.comments}">
                <div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="fw-bold" th:text="${comment.username}">닉네임</div>
                            <div th:text="${comment.content}">댓글</div>
                            <div class="text-secondary" th:text="${comment.createdDateTime}">작성 시간</div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="me-1">
                                <button class="btn btn-outline-info btn-sm ms-auto"
                                        sec:authorize="isAuthenticated()" th:if="!${comment.isRemoved}"
                                        th:id="${comment.id}" onclick="changeRecommentForm(this)">대댓글</button>
                            </div>
                            <form th:action="@{{postId}/{commentId}/remove (postId=*{id}, commentId=${comment.id})}"
                                  sec:authorize="isAuthenticated()"  method="post"
                                  th:if="${userInform.username} == ${comment.username}">
                                <button type="submit" class="btn btn-outline-danger btn-sm ms-auto"
                                    th:id="${comment.id}">삭제</button>
                            </form>
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item justify-content-between" th:each="recomment : ${comment.recomments}">
                        <div class="d-flex justify-content-between">
                            <div>
                                <div class="fw-bold" th:text="${recomment.username}">닉네임</div>
                                <div th:text="${recomment.content}">대댓글</div>
                                <div class="text-secondary" th:text="${recomment.createdDateTime}">작성 시간</div>
                            </div>
                            <form th:action="@{{postId}/{recommentId}/remove (postId=*{id}, recommentId=${recomment.id})}"
                                  sec:authorize="isAuthenticated()" method="post"
                                  th:if="${userInform.username} == ${recomment.username}">
                                <button type="submit" class="btn btn-outline-danger btn-sm ms-auto"
                                    th:id="${recomment.id}">삭제</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </ul>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
<script th:inline="javascript">
    function changeRecommentForm(elem) {
        let comment = document.getElementById("commentCreateForm");
        let recomment = document.getElementById("recommentCreateForm");
        let input = document.getElementById("recommentFormInput");
        let postId = [[${postInform.id}]];
        let commentId = elem.id;

        recomment.action = postId + "/" + commentId + "/recomment"; // action="{postId}/{commentId}/recomment"

        comment.classList.add("d-none");
        recomment.classList.remove("d-none");

        input.focus();
    }

    function changeCommentForm() {
        let comment = document.getElementById("commentCreateForm");
        let recomment = document.getElementById("recommentCreateForm");

        comment.classList.remove("d-none");
        recomment.classList.add("d-none");
    }

    function submitForm() {
        let recomment = document.getElementById("recommentCreateForm");
        recomment.submit();
    }



</script>
</body>
</html>