<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <h2>회원가입</h2>
    <form role="form" th:action th:object="${form}" method="post">
        <div class="form-group">
            <p th:if="${#strings.equals(param.error, 'duplicate')}" class="text-danger">이미 존재하는 닉네임입니다</p>
            <label th:for="username">닉네임</label>
            <input type="text" th:field="*{username}" class="form-control" placeholder="닉네임을 입력하세요"
                   th:class="${#fields.hasErrors('username')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Incorrect data</p>
            <label th:for="password">비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요"
                   th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect data</p>
            <div class="clearfix">
                <button type="submit" class="d-block btn btn-primary my-1 float-end">제출</button>
            </div>
        </div>
    </form>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>