<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped" th:object="${user}">
            <tbody>
            <tr>
                <th>#</th>
                <td th:text="*{id}"></td>
            </tr>
            <tr>
                <th>닉네임</th>
                <td th:text="*{username}"></td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix mb-1">
            <a href="#" th:href="@{/users/{userId}/edit (userId=${user.id})}"
               class="btn btn-primary float-end" role="button">수정</a>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
<script>
    const urlParams = new URL(location.href).searchParams;
    const status = urlParams.get('status');
    if(status)
        alert("저장되었습니다.");
</script>
</body>
</html>