<!DOCTYPE html>
<html lang="en">
<head>
    <title>500 Error Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">500</h1>
        <p class="fs-3"> <span class="text-danger">Oops!</span> Internal Server Error.</p>
        <p class="lead">
            서버 오류입니다.
        </p>
        <a href="/" class="btn btn-primary">메인으로</a>
    </div>
</div>
</body>
</html>